@model TMS_MANTENIMIENTO.WEB.Models.Login
<section class="vh-90">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-90">
            <div class="col-md-9 col-lg-6 col-xl-5">
                @*  <img src="~/imagenes/atcotrans2.jpg"
                class="img-fluid" alt="Sample image">*@

                @* <div class="d-flex justify-content-center ">
                <img src="~/imagenes/atcotrans2.jpg" width="110%" class="rounded">
                </div>*@

                <div class="row">
                    <!-- Gallery -->
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="~/imagenes/atcotrans4.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Boat on Calm Water" />

                            <img src="~/imagenes/atcotrans5.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Wintry Mountain Landscape" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="~/imagenes/atcotrans3.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Boat on Calm Water" />
                            <img src="~/imagenes/atcotrans7.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Boat on Calm Water" />

                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="~/imagenes/atcotrans2.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Waves at Sea" />

                            <img src="~/imagenes/atcotrans6.jpg"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="Yosemite National Park" />
                        </div>
                    </div>
                    <!-- Gallery -->
                </div>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="d-flex flex-row align-items-center ">
                    <p class="lead fw-normal mb-0 me-3 h2" style="color: #127C8C;">Ingreso al Sistema</p>
                    <p> </p>
                </div>

                <!-- Email input -->
                <form  asp-action="Index">

                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info text-body" for="form3Example3">Usuario</label>
                        <input type="email" asp-for="@Model.User"  class="form-control form-control-lg text-body"
                               placeholder="Ingrese un usuario/correo válido" />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label btn-color-info text-body" for="form3Example4">Contraseña</label>
                        <input type="password" asp-for="@Model.Password" class="form-control form-control-lg text-body"
                               placeholder="Ingrese la contraseña" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="ChkRecordar" />
                            <label class="form-check-label" for="form2Example3">
                                Recordar
                            </label>
                        </div>
                        <a href="#!" class="text-body">¿Olvido la contraseña?</a>

                    </div>

                    <div class="text-center mt-4 pt-2">
                        <button type="submit" value="submit" class="btn btn-lg TMSButtom" asp-action="Index">
                            Login
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>