html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.estiloTextBox {
    font-size: 14px;
    text-align: center;
    margin-left: 35%;
}

.modales {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
    background-color: white;
    width: 100%;
    max-width: 1400px;
    margin: 5% auto;
    padding: 20px;
    position: relative;
}

.closes {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.miDiv {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 50%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -80%);
    border: 1px solid #ccc;
}

.miDivEspecial2 {
    position: absolute;
    z-index: 1550; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 50%; /* Ajusta la posición verticalmente */
    left: 70%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -80%);
    border: 1px solid #ccc;

}
.miDivEspecial20 {
    position: absolute;
    z-index: 9050; /* Un valor mayor que el z-index del modal */
    background-color: rgb(255, 0, 0); /* Fondo semi-transparente */

    top: 40%; /* Ajusta la posición verticalmente */
    left: 80%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -80%);
    border: 1px solid #ccc;
}
.miDiv100 {
    position: absolute;
    z-index: 1550; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 65%; /* Ajusta la posición verticalmente */
    left: 55%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -80%);
    border: 1px solid #ccc;
    width: 1000px; /* Ancho del div */
    height: 662px; /* Alto del div */
}
.miDiv2 {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 50%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -80%);
    border: 1px solid #ccc;
}

.miDiv3 {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 0%; /* Ajusta la posición verticalmente */
    left: 0%; /* Ajusta la posición horizontalmente */
    transform: translate(0%, 0%);
    border: 1px solid #ccc;
    width: 500px; /* Ancho del div */
    height: 659px; /* Alto del div */
}

.miDiv4 {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 0%; /* Ajusta la posición verticalmente */
    left: 0%; /* Ajusta la posición horizontalmente */
    transform: translate(0%, 0%);
    border: 1px solid #ccc;
    width: 500px; /* Ancho del div */
    height: 659px; /* Alto del div */
}

.miDiv5 {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 0%; /* Ajusta la posición verticalmente */
    left: 0%; /* Ajusta la posición horizontalmente */
    transform: translate(0%, 0%);
    border: 1px solid #ccc;
    width: 500px; /* Ancho del div */
    height: 659px; /* Alto del div */
}
.miDiv6 {
    position: absolute;
    z-index: 1050; /* Un valor mayor que el z-index del modal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */

    top: 0%; /* Ajusta la posición verticalmente */
    left: 0%; /* Ajusta la posición horizontalmente */
    transform: translate(0%, 0%);
    border: 1px solid #ccc;
    width: 950px; /* Ancho del div */
    height: 659px; /* Alto del div */
}
.termico-message {
    position: absolute;
    left: 150px;
    top: -20%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.miTextarea {
    width: 30% !important; /* Ancho del textarea */
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: start;
    margin-left: 71.5%; /* Mover el botón a la derecha */
    margin-top: -100%;
    margin-bottom: 15%;
    
}
.miText {
    
    margin-left: 730px; /* Mover el botón a la derecha */
    margin-top:-14%;
    margin-bottom:10%;
    white-space: nowrap;
}
.error-border {
    border: 2px solid red; /* Establece el borde en rojo */
}