:root{
    --primary-font-color1: #ffffff; 
    --primary-font-color2: #007bff;
}

.navbar-light {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,.7);
    
}

.navbar-light .container a, .navbar-light .container .collapse .navbar-nav .nav-item .nav-link{
    color: var(--primary-font-color1);
}

.background-main{
    height: 100vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-1.jpeg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
}

.background-main, .services-class{
    max-width: 100%;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    color:var(--primary-font-color1);
}

.background-main h1{
    font-size: 5.5rem;
}

.background-main .main { 
    display: table; 
    width: 100%;
    height: 82vh;
    text-align: center;
    /*
    display: flex; 
    width: 50%; 
    height: 200px; 
    margin: auto; 
    */
} 

.background-main .main .main-title,.background-main .main p { 
    display: table-cell;
    vertical-align: middle;
    /*margin: auto;  Important 
    text-align: center;  */
}

.main-link{
    font-size: 44px;
    color: var(--primary-font-color1);
}
.main-link:hover{
    color:var(--primary-font-color2);
}

.about-us,.services-class{
    margin-top: 3em;
    margin-bottom: 3em; 
}

.line-shape{
    width: 10%;
    height: 2px;
    margin-left: calc(49% - 40px);
    background-color: var(--primary-font-color2);
    margin-top: 17px;
    margin-bottom: 25px;
}

.services-class{
    max-width: 100%;
    height: 78vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-2.jpeg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 96%, 0 100%);
}

.services-class .section-heading, .portfolio-title,.contact-us .section-heading{
    font-size: 34px;
    margin-top: 2.5em;
}

.services-class .container .service-box .text-muted{
    color: rgba(255,255,255,.7) !important
}

.contact-us{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-3.jpeg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    color: var(--primary-font-color1);
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 94%);
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 94%);
}


footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 2.5rem;
    background-color: var(--primary-font-color2);
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

footer.footer .social-link:hover{
    background-color: rgba(20,20,20, .5);
}
#sidebar {
    
    height: 100%;
    width: 250px;
    position: fixed;
    top: 7.4%;
    left: -250px;
    background-color: #333;
    padding-top: 20px;
    color: white;
    transition: left 0.6s; /* Agregar transición para una animación suave */
}

    #sidebar.active {
        left: 0;
    }

/* Estilo del botón para abrir el sidebar */
#sidebarCollapse {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

    #sidebarCollapse i {
        font-size: 20px;
    }
/* Estilos para los temas principales (ahora son enlaces) */
.list-unstyled.components li .main-topic {
    font-size: 20px; /* Tamaño de la letra más grande para los temas principales */
    margin-bottom: 10px;
    display: block; /* Hacer que los enlaces ocupen todo el espacio del li */

    color: white; /* Color del texto */
    padding: 10px 10px; /* Agregar espacio alrededor del texto para el estilo de recuadro */
    border: 1px solid white; /* Agregar un borde alrededor del tema principal */
    border-radius: 10px; /* Redondear las esquinas del recuadro */
    width: 90%;
    position: relative;
    margin-left: 15px;
}

.list-unstyled.sub-components li a {
    font-size: 16px; /* Tamaño de la letra un poco más pequeña para los subtemas */
    margin-bottom: 5px;
    margin-left: 25px;
    
}


/* Estilo al pasar el mouse sobre los enlaces (mantenemos el estilo original) */
.list-unstyled.sub-components a:hover {
    color: #ff6600; /* Cambiar color al pasar el mouse */
}

/* Mostrar los temas principales como recuadros */
.list-unstyled.components li {
    margin-bottom: 10px;
}

.w-100 {
    max-width: 150px;
    height: auto;
}

#btnCerrar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Asegura que el botón esté por encima de otros elementos */
}
